* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 120px 0px 0px 0px;
}


.header {
    background-color: ghostwhite;
    height: 120px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    z-index: 2;

}


.principal {
    width: 100%;
    background-color: ghostwhite;
    padding: 30px 60px 100px 60px;
    
}



.mainscreen {
    width: 100vw;
    background-color: ghostwhite;
    
}

.callto__action {
    margin-top: 20px;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    color:olivedrab;
    background-color: ghostwhite;
    border-color:olivedrab;
    border-width: 2,5px;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

.callto__action:hover{
    transition:0.3s;
    margin-top: 20px;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    color:ghostwhite;
    background-color: olivedrab;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}


.contenedor {
    display:flex;   
}


.clases__Main {

    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.clases__Item {
    flex-grow: 1;
    min-width: 25%;
    margin: 16px;
    box-sizing: border-box;
    text-align: center;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.clases__Item--titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clases__Item--titulo div {
    padding: 6px 12px;
    background-color: olivedrab;
    color: ghostwhite;
    font-size: 32px;
    font-weight: 400;
    border-radius: 6px;
    text-transform: uppercase;
}


input {
    background-color:ghostwhite;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    margin: 6px 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}
select {
    background-color:ghostwhite;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    margin: 6px 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

textarea {
    background-color:ghostwhite;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    margin: 6px 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.header div {
    font-size: large;
    padding: 10px;
    background-color: ghostwhite;
}

.header div li {
    padding: 0 10px 0 0px;
}

.footer {
    bottom: 0;
    width: 100%;
    height:fit-content;
    box-shadow: 6px 0px 16px rgba(0, 0, 0, 0.3);
    background-color: ghostwhite;
    z-index: 2;
}

.nav-item {
    font-size: medium;
    color: ghostwhite;
}

.map {
    margin-top: 60px;
    margin-bottom: 50px;

}

.enviar {
    margin-top: 25px;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    color:ghostwhite;
    background-color: olivedrab;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


  .carousel-item {
      height: 70vh;
      margin-top: 45px;
      margin-bottom: 45px;
  }
  .carousel-item > img {
    object-fit: fill;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
  }

  .carousel-item h1 {
      color: olivedrab;
      font-size: 50px;
      font-weight: 700;
  }
  

  .showmore2:hover {
    margin-top: 20px;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    color:olivedrab;
    background-color: ghostwhite;
    border-color:olivedrab;
    border-width: 2,5px;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

.showmore2 {
    transition:0.3s;
    margin-top: 20px;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    color:ghostwhite;
    background-color: olivedrab;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}

.collabimg {
    margin-top: 30px;
    width: 100%;
    height: 550px;
}

.collabimg img {
    width: 100%;
    height: 550px;
}