* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    padding: 120px 0px;

}

.descripcionAboutus {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.header {
    background-color: ghostwhite;
    height: 120px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    z-index: 2;

}


.navMenuItem {
    text-decoration: none;
    font-size: 18px;
    margin: 0 12px;
    padding: 6px 8px;
    border-radius: 6px;
    text-transform: capitalize;
    width: max-content;
    color: rgb(17, 17, 17);
}

.navMenuItem:hover {
    background-color:rgba(106, 142, 35, 0.4);
    transition: 0.3s;
}


.principal {
    position:relative;
    background-color: ghostwhite;
    padding: 30px 60px 100px 60px;
    
}

.main {
    width: 100%;
    height: 80vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items:flex-start;
}

.main video {
    position: absolute;
    object-fit: cover;
    right: 0;
    top: 120px;
    width: 100vw;
    height: 80vh;
    pointer-events: none;
}

.titulo__Section {
    left: 20vw;
    top: 10vw;
    position: absolute;
    align-items: right;
    z-index: 1;
    width: max-content;
}

.titulo__Ppal{
    font-size: 60px;
    color: olivedrab;
}

.titulo__Sub {
    font-size: 32px;
    font-weight: 800;
    color:black;
}

.descripcionAboutus {
    background-color: ghostwhite;
    position: relative;
}

.parrafoAboutus {

    padding: 0px 120px 30px 0px;
    
}

.imagenAboutus {

    padding: 0px 0px 80px 120px;
}

.callto__action {
    margin-top: 20px;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    color:olivedrab;
    background-color: ghostwhite;
    border-color:olivedrab;
    border-width: 2,5px;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

.callto__action:hover{
    transition:0.3s;
    margin-top: 20px;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    color:ghostwhite;
    background-color: olivedrab;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}


.contenedor {
    display:flex;   
}


.clases__Main {
    max-width: 80%;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
}

.clases__Item {
    flex-grow: 1;
    min-width: 25%;
    margin: 16px;
    box-sizing: border-box;
    text-align: center;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.clases__Item--titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clases__Item--titulo div {
    padding: 6px 12px;
    background-color: olivedrab;
    color: ghostwhite;
    font-size: 32px;
    font-weight: 400;
    border-radius: 6px;
    text-transform: uppercase;
}


.foto {
    height: 70%;
    display: flex;
    flex-direction: column;
    display: inline-block;
    justify-content: space-between;
    margin: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.foto img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


input {
    background-color:ghostwhite;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    margin: 6px 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}
select {
    background-color:ghostwhite;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    margin: 6px 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

textarea {
    background-color:ghostwhite;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    margin: 6px 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.header div {
    font-size: large;
    padding: 10px;
    background-color: ghostwhite;
}

.header div li {
    padding: 0 10px 0 0px;
}
.container-fluid footer {
    background-color: ghostwhite;
    margin: 0px;
    font-size: medium;
}

.footer {
    background-color: ghostwhite;
}

.map {
    margin-top: 60px;
    margin-bottom: 50px;

}

.enviar {
    margin-top: 25px;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    color:ghostwhite;
    background-color: olivedrab;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}