.grid {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows:auto;
  gap: 5%;
  grid-auto-flow: row;
  grid-template-areas:
    ". populars ."
    "prenda1 prenda2 prenda3"
    ". mas .";
}

  .prenda1 {
    display: flex;
    flex-direction: column;
    grid-area: prenda1;
    height: auto;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  }
  

  .prenda2 {
    display: flex;
    flex-direction: column;
    grid-area: prenda2;
    height: auto;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  }

  .prenda3 {
    display: flex;
    flex-direction: column;
    grid-area: prenda3;
    height: auto;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  }

  
  
  .showmore{
    justify-self: center;
    padding: 10px;
    width: min-content;
    height: min-content;
    grid-area: mas;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    color:olivedrab;
    background-color: ghostwhite;
    border-color:olivedrab;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .showmore:hover{
      transition: 0.3s;
      justify-self: center;
      padding: 10px;
      width: min-content;
      height: min-content;
      grid-area: mas;
      text-decoration:none;
      font-weight: 600;
      font-size: 18px;
      color:ghostwhite;
      background-color: olivedrab;
      border-style: solid;
      border-radius: 6px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

    .populars {
      justify-self: center;
      grid-area: populars;
      color: olivedrab;
      font-size: 24px;
      font-weight: 600;
    }


    .mas {
      grid-area: mas;
      justify-self: center;
    }

@media (max-widht: 1024px) {
      .grid {

  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat (1, 1fr);
  grid-template-rows:repeat(5, 1fr);
  gap: 5%;
  grid-auto-flow: row;
  grid-template-areas:
    "populars"
    "prenda1"
    "prenda2"
    "prenda3"
    "mas";
      }
    }

