.grid {
   margin-top: 80px;
   margin-bottom: 120px;
   display:grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: auto;
   column-gap: 100px;
   row-gap: 80px;
   grid-template-areas:".        .        populars populars .        ."
                       ".        prenda1  prenda2  prenda3  prenda4  ."
                       ".        .        mas      mas      .        ."            
  }

  .prenda1 {
    display: flex;
    flex-direction: column;
    grid-area: prenda1;
    height: auto;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  }
  

  .prenda2 {
    display: flex;
    flex-direction: column;
    grid-area: prenda2;
    height: auto;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  }

  .prenda3 {
    display: flex;
    flex-direction: column;
    grid-area: prenda3;
    height: auto;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  }

  .prenda4 {
    display: flex;
    flex-direction: column;
    grid-area: prenda4;
    height: auto;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  }

  .prenda__imagen {
    top:0;
    max-height: 100%;
    max-width: 100%;
    overflow:visible;
    border-radius: 15px 15px 0 0;
  }
  
  .prenda__imagen img {
    object-fit:cover;
    height: 100%;
    width: 100%;
  }
  
  .prenda__contenido {
    padding: 1em 1em 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .prenda__cabecera {
    border-bottom: 1px solid olivedrab;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .prenda__nombre {
    margin: 0;
    color: olivedrab;
    font-style: italic;
  }
  
  .prenda__precio {
    color: olivedrab;
    font-weight: bolder;
    font-style: italic;
  }
  
  .prenda__bio {
    font-size: 0.8em;
    line-height: 1.5;
    flex-grow: 1;
  }
  
  .prenda__compra {
    align-items: flex-end;
    background-color:olivedrab;
    color: white;
    text-align: center;
    border-radius: 0 0 15px 15px;
    margin-right: -1em;
    margin-left: -1em;
    margin-top: 1em;
    padding: 0.5em;
    text-transform:uppercase;
  }
  
  .showmore{
    justify-self: center;
    padding: 10px;
    width: min-content;
    grid-area: mas;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
    color:olivedrab;
    background-color: ghostwhite;
    border-color:olivedrab;
    border-width: 2,5px;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .showmore:hover{
      transition: 0.3s;
      justify-self: center;
      padding: 10px;
      width: min-content;
      grid-area: mas;
      text-decoration:none;
      font-weight: 600;
      font-size: 18px;
      color:ghostwhite;
      background-color: olivedrab;
      border-width: 2,5px;
      border-style: solid;
      border-radius: 6px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

    .populars {
      justify-self: center;
      grid-area: populars;
      color: olivedrab;
      font-size: 24px;
      font-weight: 600;
    }



