$maincolor:olivedrab;
$secondarycolor: ghostwhite;



  .clases__Main {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
  }


  
  
  .clases__Item {
    flex-grow: 2;
    min-width: 30%;
    margin: 16px;
    box-sizing: border-box;
    text-align: center;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  @media only screen and (max-width: 1240px) {
    .clases__Main {
      width: 100%;
      margin: 20px auto;
      display: flex;
      flex-direction: row;
    }
  
    .clases__Item {
      align-items: center;
      width:100%;
      margin: 16px 0px 16px 0px;
      box-sizing: border-box;
      text-align: center;
      height: 150px;
      background-size: cover;
      background-position: center;
    }
  }
 
  @media only screen and (max-width: 600px) { 
    .clases__Main {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  
    .clases__Item {
      align-items: center;
      width: 100%;
      margin: 16px 0px 16px 0px;
      box-sizing: border-box;
      text-align: center;
      height: 150px;
      background-size: cover;
      background-position: center;
    }
  }




  @media only screen and (max-width: 980px) { 
    .grid {
      padding-bottom: 250px;
    }
  }


  .clases__Item--titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    div {
      padding: 6px 12px;
      background-color: $maincolor;
      color: $secondarycolor;
      font-size: 32px;
      font-weight: 400;
      border-radius: 6px;
      text-transform: uppercase;
    }
  }

  .principal {
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $secondarycolor;
    padding: 30px 60px 30px 60px;
  }
  


